# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/.next/

# Environment
.env
.env.local

# macOS
.DS_Store

# Logs
*.log

# Database & Uploads
backend/*.db
backend/uploads/
backend/.u2net/
.vscode/